@charset "UTF-8";
body  {
    background: linear-gradient(135deg, #ffafbd, #ffc3a0);
    font-family: 'Segoe UI', sans-serif;
    padding: min(50px,7%);
  }
  
  /* Container for all the cards */
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    gap: 15px;
    justify-content: center;
   
  }
  
  /* Individual card */
  .card {
    max-width: 300px;
    height: 200px;
    padding: 2em;
    margin: 1em;
    text-align: center;
  }
  
  /* Card inner flip area */
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Flip effect */
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  /* Front & back */
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
    text-align: center;
  }
  
  /* Front */
  .card-front {
    background-color: antiquewhite;
    color: #333;
    font-size: 24px;
  }
  
  /* Back */
  .card-back {
    background-color: #ffe6eb;
    color: black;
    transform: rotateY(180deg);
    font-size: 14px;
    font-weight: bold;
    line-height: 1.0;
  }
  